<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>                     <string>PSGroupCell</string>
			<key>footerText</key>               <string>This feature is not available for Prysm.</string>
			<key>key</key>                      <string>rearrangeTogglesHint</string>
		</dict>
		<dict>
			<key>cell</key>                     <string>PSLinkCell</string>
			<key>isController</key>             <true/>
			<key>detail</key>                   <string>MEVOConnectivityOrderController</string>
			<key>label</key>                    <string>Rearrange Toggles</string>
			<key>key</key>                      <string>rearrangeToggles</string>
		</dict>

		<dict>
			<key>cell</key>                     	<string>PSGroupCell</string>
			<key>headerCellClass</key>              <string>MEVOImage</string>
			<key>icon</key>                    		<string>images/connectivityContainer.png</string>
			<key>prysmIcon</key>                    <string>images/connectivityContainer_prysm.png</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>cellClass</key>                <string>MEVOColorPicker</string>
				<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
				<key>key</key>                      <string>connectivityContainerBackground</string>
				<key>label</key>                    <string>Background Color</string>
		</dict>

		<dict>
			<key>cell</key>                     	<string>PSGroupCell</string>
			<key>headerCellClass</key>              <string>MEVOImage</string>
			<key>icon</key>                         <string>images/connectivityMode.png</string>
			<key>prysmIcon</key>                    <string>images/connectivityMode_prysm.png</string>
		</dict>
		<dict>
			<key>cell</key>                          <string>PSSegmentCell</string>
			<key>cellClass</key>                     <string>MEVOSegment</string>
			<key>default</key>                       <string>regular</string>
			<key>defaults</key>                      <string>com.noisyflake.magmaevo</string>
			<key>key</key>                           <string>connectivityModeEnabled</string>
			<key>validTitles</key>
				<array>
					<string>Regular</string>
					<string>Glyph only</string>
				</array>
			<key>validValues</key>
				<array>
					<string>regular</string>
					<string>glyphOnly</string>
				</array>
		</dict>

		<dict>
				<key>cell</key>                     <string>PSGroupCell</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSButtonCell</string>
				<key>action</key>                   <string>switchState</string>
				<key>cellClass</key>                <string>MEVOStateSwitcher</string>
				<key>key</key>                      <string>switchState</string>
		</dict>

		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>cellClass</key>                <string>MEVOColorPicker</string>
				<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
				<key>key</key>                      <string>CCUIConnectivityAirDropViewControllerEnabled</string>
				<key>label</key>                    <string>AirDrop</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>cellClass</key>                <string>MEVOColorPicker</string>
				<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
				<key>key</key>                      <string>CCUIConnectivityAirplaneViewControllerEnabled</string>
				<key>label</key>                    <string>Airplane Mode</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>cellClass</key>                <string>MEVOColorPicker</string>
				<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
				<key>key</key>                      <string>CCUIConnectivityBluetoothViewControllerEnabled</string>
				<key>label</key>                    <string>Bluetooth</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>cellClass</key>                <string>MEVOColorPicker</string>
				<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
				<key>key</key>                      <string>CCUIConnectivityCellularDataViewControllerEnabled</string>
				<key>label</key>                    <string>Cellular Data</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>cellClass</key>                <string>MEVOColorPicker</string>
				<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
				<key>key</key>                      <string>CCUIConnectivityHotspotViewControllerEnabled</string>
				<key>label</key>                    <string>Personal Hotspot</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>cellClass</key>                <string>MEVOColorPicker</string>
				<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
				<key>key</key>                      <string>CCUIConnectivityWifiViewControllerEnabled</string>
				<key>label</key>                    <string>WiFi</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>cellClass</key>                <string>MEVOColorPicker</string>
				<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
				<key>label</key>                    <string>Change All</string>
				<key>key</key>                      <string>connectivityGlobalColorEnabled</string>
				<key>global</key>                   <true/>
		</dict>

		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>cellClass</key>                <string>MEVOColorPicker</string>
				<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
				<key>key</key>                      <string>CCUIConnectivityAirDropViewControllerDisabled</string>
				<key>label</key>                    <string>AirDrop</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>cellClass</key>                <string>MEVOColorPicker</string>
				<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
				<key>key</key>                      <string>CCUIConnectivityAirplaneViewControllerDisabled</string>
				<key>label</key>                    <string>Airplane Mode</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>cellClass</key>                <string>MEVOColorPicker</string>
				<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
				<key>key</key>                      <string>CCUIConnectivityBluetoothViewControllerDisabled</string>
				<key>label</key>                    <string>Bluetooth</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>cellClass</key>                <string>MEVOColorPicker</string>
				<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
				<key>key</key>                      <string>CCUIConnectivityCellularDataViewControllerDisabled</string>
				<key>label</key>                    <string>Cellular Data</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>cellClass</key>                <string>MEVOColorPicker</string>
				<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
				<key>key</key>                      <string>CCUIConnectivityHotspotViewControllerDisabled</string>
				<key>label</key>                    <string>Personal Hotspot</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>cellClass</key>                <string>MEVOColorPicker</string>
				<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
				<key>key</key>                      <string>CCUIConnectivityWifiViewControllerDisabled</string>
				<key>label</key>                    <string>WiFi</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>cellClass</key>                <string>MEVOColorPicker</string>
				<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
				<key>label</key>                    <string>Change All</string>
				<key>key</key>                      <string>connectivityGlobalColorDisabled</string>
				<key>global</key>                   <true/>
		</dict>
	</array>
	<key>title</key>                             <string>Connectivity</string>
</dict>
</plist>
