<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>enabled</key>                           <true/>

		<key>connectivityHideContainer</key>         <false/>
		<key>connectivityModeEnabled</key>           <string>regular</string>

		<key>togglesHideContainer</key>              <false/>
		<key>togglesOverlayMode</key>                <string>regular</string>

		<key>mediaControlsHideContainer</key>        <false/>
		<key>mediaControlsColorLockscreen</key>      <false/>

		<key>slidersHideContainer</key>              <false/>
		<key>slidersVolumeSystem</key>               <false/>

		<key>miscStatusBarHide</key>                 <false/>
		<key>powerModuleHideContainer</key>          <false/>
		<key>powerModuleHideBackground</key>         <false/>
		<key>prysmWeatherHideContainer</key>         <false/>
		<key>betterCCXIHideContainer</key>           <false/>
		<key>betterCCXIFix</key>                     <false/>
	</dict>
</plist>
