<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>                     	<string>PSGroupCell</string>
			<key>headerCellClass</key>              <string>MEVOImage</string>
			<key>prysmIcon</key>                    <string>images/prysm_powerContainer.png</string>
		</dict>
		<dict>
			<key>cell</key>                     <string>PSLinkCell</string>
			<key>cellClass</key>                <string>MEVOColorPicker</string>
			<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
			<key>key</key>                      <string>prysmPowerContainerBackground</string>
			<key>label</key>                    <string>Background Color</string>
		</dict>
		<dict>
			<key>cell</key>                     	<string>PSGroupCell</string>
			<key>headerCellClass</key>              <string>MEVOImage</string>
			<key>prysmIcon</key>                    <string>images/prysm_powerToggles.png</string>
		</dict>
		<dict>
			<key>cell</key>                     <string>PSLinkCell</string>
			<key>cellClass</key>                <string>MEVOColorPicker</string>
			<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
			<key>key</key>                      <string>prysmPowerToggleBackground</string>
			<key>label</key>                    <string>Toggle Background Color</string>
		</dict>
		<dict>
			<key>cell</key>                     <string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>                     <string>PSLinkCell</string>
			<key>cellClass</key>                <string>MEVOColorPicker</string>
			<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
			<key>key</key>                      <string>prysmPowerRespring</string>
			<key>label</key>                    <string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>                     <string>PSLinkCell</string>
			<key>cellClass</key>                <string>MEVOColorPicker</string>
			<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
			<key>key</key>                      <string>prysmPowerSafemode</string>
			<key>label</key>                    <string>Safemode</string>
		</dict>
		<dict>
			<key>cell</key>                     <string>PSLinkCell</string>
			<key>cellClass</key>                <string>MEVOColorPicker</string>
			<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
			<key>key</key>                      <string>prysmPowerLock</string>
			<key>label</key>                    <string>Lock</string>
		</dict>
		<dict>
			<key>cell</key>                     <string>PSLinkCell</string>
			<key>cellClass</key>                <string>MEVOColorPicker</string>
			<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
			<key>key</key>                      <string>prysmPowerReboot</string>
			<key>label</key>                    <string>Reboot</string>
		</dict>
		<dict>
			<key>cell</key>                     <string>PSLinkCell</string>
			<key>cellClass</key>                <string>MEVOColorPicker</string>
			<key>defaults</key>                 <string>com.noisyflake.magmaevo</string>
			<key>key</key>                      <string>prysmPowerShutdown</string>
			<key>label</key>                    <string>Shutdown</string>
		</dict>
	</array>
	<key>title</key>                            <string>Power Module</string>
</dict>
</plist>
