<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>                          <string>PSSwitchCell</string>
			<key>cellClass</key>                     <string>MEVOToggle</string>
			<key>default</key>                       <true/>
			<key>defaults</key>                      <string>com.noisyflake.magmaevo</string>
			<key>key</key>                           <string>enabled</string>
			<key>label</key>                         <string>Enabled</string>
		</dict>

		<dict>
				<key>cell</key>                     <string>PSGroupCell</string>
				<key>label</key>                    <string>Modules</string>
		</dict>

		<!-- https://github.com/srolfe/fancier/blob/master/fanciersettings/HeaderCell.mm -->
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>isController</key>             <true/>
				<key>detail</key>                   <string>MEVOConnectivityController</string>
				<key>icon</key>                     <string>icons/connectivity</string>
				<key>label</key>                    <string>Connectivity</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>isController</key>             <true/>
				<key>detail</key>                   <string>MEVOToggles</string>
				<key>icon</key>                     <string>icons/toggles</string>
				<key>label</key>                    <string>Launchers &amp; Toggles</string>
		</dict>
		<!-- <dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>isController</key>             <true/>
				<key>detail</key>                   <string>MEVOAppLaunchers</string>
				<key>icon</key>                     <string>icons/applaunchers</string>
				<key>label</key>                    <string>App Launchers</string>
		</dict> -->
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>isController</key>             <true/>
				<key>detail</key>                   <string>MEVOMediaControls</string>
				<key>icon</key>                     <string>icons/mediacontrols</string>
				<key>label</key>                    <string>Media Controls</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>isController</key>             <true/>
				<key>detail</key>                   <string>MEVOSliders</string>
				<key>icon</key>                     <string>icons/sliders</string>
				<key>label</key>                    <string>Sliders</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>isController</key>             <true/>
				<key>detail</key>                   <string>MEVOMisc</string>
				<key>icon</key>                     <string>icons/misc</string>
				<key>label</key>                    <string>Miscellaneous</string>
		</dict>

		<dict>
				<key>cell</key>                     <string>PSGroupCell</string>
				<key>label</key>                    <string>Settings</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>icon</key>                     <string>icons/import</string>
				<key>label</key>                    <string>Import</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>icon</key>                     <string>icons/export</string>
				<key>label</key>                    <string>Export</string>
		</dict>
		<dict>
				<key>cell</key>                     <string>PSLinkCell</string>
				<key>icon</key>                     <string>icons/reset</string>
				<key>label</key>                    <string>Reset</string>
		</dict>
		<dict>
    		<key>cell</key>                     <string>PSGroupCell</string>
        <key>footerText</key> 				      <string>Version 1.0.1 - NoisyFlake</string>
				<key>footerAlignment</key> 			    <string>1</string>
    </dict>
	</array>
	<key>title</key>                             <string></string>
</dict>
</plist>
